@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

.Header {
    min-height: 5rem;
    background-color: #003153;
    padding: 0rem 1rem;
    display: -webkit-flex;
    -webkit-align-items: center; 
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
        color: #efefef;
    }
    input {
        width: 12rem;       
        float: right;
        border-radius: 1rem;
        margin: .5rem 0rem 0rem 2rem;            
    }
    span {
        font-family: 'Rubik Mono One', sans-serif;
        color: #efefef;
        font-size: 2rem;
    }
    @media (min-width: 768px) {
        input {
            width: 16rem;
        }
    }
    @media (min-width: 992px) {
        input {
            width: 16rem;
        }
    }
    @media (min-width: 1200px) {
        input {
            width: 20rem;
        }
    }
}