#TxList {
  text-align: center;
  font-size: .6rem;
  font-weight: bold;

  .item {
    margin: auto;
    padding: .5rem;
    border: solid 1px;
    width: 350px;    
    &:nth-child(odd) {
      background-color: #e6e6e6;
    }
  }

  


  .load-more {
    margin: 1rem;
    width: 250px;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border: transparent;
    color: #ffffff;
    background-color: #003153;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      background-color: #001133;
    }
  }

  @media (min-width: 768px) {
    font-size: 1rem;
    .item {
      width: 575px;
    }
  }
  @media (min-width: 992px) {
      
  }
  @media (min-width: 1200px) {
      
  }
}